body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff4d4d, #ff7b12);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD */
.main-card {
    background: #fff;
    width: 80%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 45px rgba(0,0,0,0.25);
}

/* LEFT SIDE */
.left-box {
    width: 55%;
}

.song-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.artist {
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}

/* CONTROLS */
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.btn {
    background: #f5f5f5;
    border: none;
    font-size: 22px;
    padding: 12px 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #222;
    color: white;
}

/* SEEK + VOLUME */
.seekbar, .volume {
    width: 100%;
    margin-bottom: 20px;
}

/* RIGHT SIDE POSTER */
.right-box img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 18px 40px rgba(0,0,0,0.35);
    transition: 0.3s;
}

.right-box img:hover {
    transform: scale(1.03);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .main-card {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .left-box {
        width: 90%;
    }

    .right-box img {
        width: 260px;
        height: 260px;
    }
}

.app-title {
    position: absolute;
    top: 40px;
    right: 60px;

    font-size: 42px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.95);

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 4px 12px rgba(0,0,0,0.25);

    letter-spacing: 2px; 
    animation: fadeIn 1.2s ease;
}

/* Smooth fade animation */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}
